<h1><%=link_to "Logo", projects_path %></h1>


<p>This is sample text</p>

<div id="slideshow">
 <div class="rslides_container">
      <ul class="rslides" id="slider1">
       	<li><%= image_tag('index/006.jpg', alt: "")%></li>
 		<li><%= image_tag('index/005.jpg', alt: "")%></li>
  		<li><%= image_tag('index/007.jpg', alt: "")%></li>
  		<li><%= image_tag('index/008.jpg', alt: "")%></li>
 		<li><%= image_tag('index/009.jpg', alt: "")%></li>
  		<li><%= image_tag('index/010.jpg', alt: "")%></li>
      </ul>
    </div>
</div>
