
<div id="dropdown">
<%= link_to "X", about_path, id: "close_dropdown" %>
	<div id="dropdown_txt">
		So much <br />
		Text about these architects ...
	</div>
</div>
<%= link_to 'About', '#', id: 'showHideLink' %>

<%= render 'shared/header' %>


	<div id="cf4a">
 		<%= image_tag('index/009.jpg', alt: "", class: 'slide')%>
 		<%= image_tag('index/008.jpg', alt: "", class: 'slide')%>
 		<%= image_tag('index/010.jpg', alt: "", class: 'slide')%>
 		<%= image_tag('index/002.jpg', alt: "", class: 'slide')%>
    </div>