
<div id="hideShowDiv" class="dropdown">If you click on the "Hide" button, I will disappear.</div>
<button id="show">Show</button>
<button id="hide">Hide</button>

<%= render 'shared/header' %>

	<div id="cf4a">
 		<%= image_tag('index/009.jpg', alt: "", class: 'slide')%>
 		<%= image_tag('index/008.jpg', alt: "", class: 'slide')%>
 		<%= image_tag('index/010.jpg', alt: "", class: 'slide')%>
 		<%= image_tag('index/002.jpg', alt: "", class: 'slide')%>
    </div>